
    <h2>{{flightsData.originC}} To {{flightsData.destinationC}}</h2>
<hr>
<div class="cardContainer">
<div *ngFor="let flight of flightDetails |filterFlights: flightsData.originC">
    <div class="card" >
        <div class="card-body" >
        <p>  <span>Rs. {{flight.price}}</span>   
        </p>
             <table>
                 <tr>
                     <td>{{flight.from}}</td>
                     <td>{{flight.to}}</td>
                </tr>
                 <tr><td>{{flight.departTime}}</td></tr>
                 <tr><td>{{flight.arriveTime}}</td></tr>
             </table>
             <button id="bookbutton" class="btn btn-info">Book this flight</button>
        </div>
      </div>
</div>
</div>
