
<div>
  <tabset>
    <tab heading="One Way" id="tab1">
      <form class="form-group" #searchForm = "ngForm">
        <br>
      <input type="text" placeholder="Enter origin city" #cityoforigin= "ngModel" [(ngModel)]="origin" name="origincity" required class="form-control"><br>
      <!-- Error Message -->
      <div *ngIf="cityoforigin.errors">
        <span *ngIf="cityoforigin.errors['required'] && cityoforigin.touched" class="text-danger">This is a mandatory field</span>
         </div>
      <input type="text" placeholder="Enter Destination city" #cityofdestination= "ngModel" [(ngModel)]="destination" required name="destinationcity" class="form-control"><br>
       <!-- Error Message -->
       <div *ngIf="cityofdestination.errors">
        <span *ngIf="cityofdestination.errors['required'] && cityofdestination.touched" class="text-danger">This is a mandatory field</span>
         </div>
      <div class="date_container">
          <!--Start Date Container-->
              <div class=" form-group">
                  <input type="text" placeholder="Departure Date" required
                        class="form-control"
                        [minDate]="minStartDate"
                        [maxDate]="maxStartDate"
                        #dp="bsDatepicker"
                       bsDatepicker [(bsValue)]="myDepartureStartDateValue">
                </div>         
        </div>
       
        <input type="number" placeholder="Passengers" #numberofpassengers = "ngModel" [(ngModel)]="passengernumber" name="pass" required class="form-control"><br>
          <!-- Error Message -->
          <div *ngIf="numberofpassengers.errors">
            <span *ngIf="numberofpassengers.errors['required'] && numberofpassengers.touched" class="text-danger">This is a mandatory field</span>
          </div>
        <button class="btn btn-success" [disabled]="!searchForm.valid" (click)="checkDetailsOneway()">Submit</button> 
    </form>
          <hr>
    </tab>
    <tab heading="Return">
      <form  #searchReturnForm = "ngForm">
        <div class="form-group">
        <br>
        <input type="text" placeholder="Enter origin city" #returncityoforigin="ngModel" [(ngModel)]="origin" name="origincity" required class="form-control"><br>
         <!-- Error Message -->
         <div *ngIf="returncityoforigin.errors">
          <span *ngIf="returncityoforigin.errors['required'] && returncityoforigin.touched" class="text-danger">This is a mandatory field</span>
        </div>
        <input type="text" placeholder="Enter Destination city" #returncityofdestination="ngModel" [(ngModel)]="destination" name="destinationcity" required class="form-control"><br>
          <!-- Error Message -->
          <div *ngIf="returncityofdestination.errors">
            <span *ngIf="returncityofdestination.errors['required'] && returncityofdestination.touched" class="text-danger">This is a mandatory field</span>
          </div>
        <div class="date_container">
          <!--Start Date Container-->
              <div class="form-group">
                  <input type="text" placeholder="Departure Date"
                        class="form-control"
                        [minDate]="minStartDate"
                        [maxDate]="maxStartDate"
                        #dp="bsDatepicker"
                        bsDatepicker [(bsValue)]="myReturnStartDateValue">
                </div>
               
          <!--End Date Container-->
                <div class="form-group">
                  <input type="text" placeholder="Return Date"
                        class="form-control"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        #dp="bsDatepicker"
                        bsDatepicker [(bsValue)]="myReturnEndDateValue">
                </div> 
                             
        </div>
        <input type="number" placeholder="Passengers" #returnnumberofpassengers="ngModel" [(ngModel)]="passengernumber" name="pass" required class="form-control"><br>
        <div *ngIf="returnnumberofpassengers.errors">
          <span *ngIf="returnnumberofpassengers.errors['required'] && returnnumberofpassengers.touched" class="text-danger">This is a mandatory field</span>
        </div>
        <button class="btn btn-success" [disabled]="!searchReturnForm.valid" (click)="checkDetailsReturn()">Submit</button> 
      </div>
      </form>
    <hr>
</tab>
  </tabset>
</div>
